{% extends "fr/layout.html.twig" %}

{% block title %}
	{{ parent() }} - Louer sa voiture
{% endblock %}

{% block flashes %}
	{% for message in app.flashes('addcar') %}
		<p>{{ message|trans({}, 'flashes') }}</p>
	{% endfor %}
{% endblock %}

{% block content %}
	<fieldset>
		<legend><h1>Nouvelle annonce : </h1></legend>
		{{ form(form) }}
	</fieldset>
{% endblock %}
