{% extends "fr/layout.html.twig" %}

{% block title %}
	{{ parent() }} - Nouveau Compte
{% endblock %}

{% block content %}
<fieldset>
	<legend><h2>Nous y sommes presque !</h2></legend>
	<p>Nous avons besoin d'encore quelques informations...</p>

	{{ form(form) }}
</fieldset>
{% endblock %}
