{% extends "en/layout.html.twig" %}

{% block title %}
	{{ parent() }} - Rent your car
{% endblock %}

{% block flashes %}
	{% for message in app.flashes('addcar') %}
		<p class>{{ message|trans({}, 'flashes') }}</p>
	{% endfor %}
{% endblock %}

{% block content %}
	<fieldset>
		<legend><h2>New Advert : </h2></legend>
		{{ form(form) }}
	</fieldset>
{% endblock %}
