{% extends "en/layout.html.twig" %}

{% block title %}
	{{ parent() }} - Rent
{% endblock %}

{% block flashes %}
	{% for message in app.flashes('arent') %}
		<p class = 'flash_message'>{{ message|trans({}, 'flashes') }}</p>
	{% endfor %}
{% endblock %}

{% block content %}
	{% include "en/adverts/advert.html.twig" with{'adverts' : advert} %}

	<fieldset>
		<legend><h2>Owner :</h2></legend>
		{% include "en/users/glanceToMember.html.twig" with{'member': advert.owner} %}
	</fieldset>

	<fieldset>
		<legend><h2>Ask for a rental :</h2></legend>
		{{ form(form) }}
	</fieldset>
{% endblock %}
