{% extends "en/layout.html.twig" %}

{% block title %}
	{{ parent() }} - Sign Up
{% endblock %}

{% block flashes %}
	{% for message in app.flashes('signup') %}
		<p class='flash_message'>{{ message }}</p>
	{% endfor %}
{% endblock %}

{% block content %}
	<fieldset>
		<legend><h2>Sign Up :</h2></legend>
		{{ form(form) }}
	</fieldset>
{% endblock %}
